<div class="container">
  <h3>Register</h3>
  <div class="row">
    <div class="col-md-12">
      <div flash-alert="{{flash.type}}" active-class="in alert" class="fade">
        <span class="alert-message">{{flash.message}}</span>
      </div>
      <form name="form" role="form" novalidate>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" name="name" ng-model="user.name" required>
        </div>
        <div class="form-group">
          <label for="address">Address</label>
          <input type="text" class="form-control" name="address" ng-model="user.address" required>
        </div>
        <div class="form-group">
          <label for="area">Area</label>
          <input type="text" class="form-control" name="area" ng-model="user.area" required>
        </div>
        <div class="form-group">
          <label for="city">City</label>
          <input type="text" class="form-control" name="city" ng-model="user.city" required>
        </div>
        <div class="form-group">
          <label for="phoneNumber">Phone Number</label>
          <input type="text" class="form-control" name="phoneNumber" ng-model="user.phoneNumber" required>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary" ng-click="submit()"
                  ng-disabled="form.$invalid || form.name.$dirty && form.name.$invalid
                || form.address.$dirty && form.address.$invalid || form.area.$dirty && form.area.$invalid
                || form.city.$dirty && form.city.$invalid || form.phoneNumber.$dirty && form.phoneNumber.$invalid">
            Register
          </button>
          <button type="reset" class="btn btn-warning">Reset</button>
        </div>
      </form>
    </div>
  </div>
</div>