<div class="container">
  <h3>Search</h3>
  <div class="row">
    <div class="col-md-12">
      <input type="text"  class="form-control" ng-model="selected" placeholder="Search..."
             typeahead="people.name for people in getPeople($viewValue)" typeahead-on-select="onSelect($item, $model, $label)">
    </div>
    <div class="col-md-12 top-buffer" ng-show="searchedPerson.length">
      <table class="table">
        <thead>
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th>Area</th>
          <th>City</th>
          <th>Phone Number</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="details in searchedPerson">
          <td>{{details.name}}</td>
          <td>{{details.address}}</td>
          <td>{{details.area}}</td>
          <td>{{details.city}}</td>
          <td>{{details.phoneNumber}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>