
/* decorative font included */
@font-face {
	font-family: 'decor';
	src: url('font/UncialAntiqua-Regular.otf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
	font-family: 'Helvetica Neue';
	src: url('font/Quicksand-Regular.otf')  format('truetype'); /* Safari, Android, iOS */
}

/* bootstrap override */
.navbar {
	color: #777;
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 20px;
}

.navbar-toggle {
	border: 1px solid #ccc;
}

.navbar-toggle .icon-bar {
	background-color: #666;
}

/* main css */
.top-buffer {
	margin-top:20px;
}

/* footer css */
.footer {
	margin-top: 20px;
	padding: 40px;
	color: #777;
	border-top: 1px solid #e5e5e5;
}
.footer .copyright {
	text-align: center;
}
.social-wrapper {
	margin-bottom: 20px;
	text-align: center;
}
ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}
ul.footer-menu {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.footer-menu li {
	display: inline;
	margin: 0 5px;
}
.social-network a.icoRss:hover {
	background-color: #F56505;
}
.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
	background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
	background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
	background: #337ab7;
}
.social-circle li i {
	margin:0;
	line-height:50px;
}
.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}
